body{
    text-align: center;
}

.guardar{
    background-color: transparent;
    border: solid 1px #6f7484;
    border-radius: 10%;
}
.guardar:hover{
    background-color: transparent;
    border: solid 1px #f99804;
    border-radius: 10%;
    color: #f99804;
}

.eventoNoticia{
    visibility: hidden;
}

article{
    text-align: center;
}

table {
    width: 20%;
    margin-left: 40%;
    margin-top: 3%;
    font-size: 1.1em;
    text-align: center;
}

td {
    padding: 3%;
}

/*Citas*/
.containerFormularioFirst{
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(white,rgb(221, 221, 221));
	border-left: 1px solid #253243;
	border-right: 1px solid #253243;
	border-top: 1px solid #253243;
	border-bottom: 1px solid #253243;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
	color: #000;
	padding: 0.8em 1em;
}

.containerFormularioMiddle{
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(rgb(221, 221, 221),white);
	border-left: 1px solid #253243;
	border-right: 1px solid #253243;
	color: #000;
	padding: 0.8em 1em;
}

.containerFormularioLast{
    background: url(https://jackrugile.com/images/misc/noise-diagonal.png), linear-gradient(white,rgb(221, 221, 221));
	border-left: 1px solid #253243;
    border-top: 1px solid #253243;
	border-right: 1px solid #253243;
	border-bottom: 1px solid #253243;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
	color: #000;
	padding: 0.8em 1em;
}