body {
    text-align: center;
}

.guardar {
    background-color: #c98f40;
    padding: 2%;
    border: solid 2px #fff;
    border-radius: 2%;
    width: 100%;
}

.guardar:hover {
    background-color: #e3a248;
    padding: 2%;
    border: solid 2px #fff;
    border-radius: 2%;
    width: 100%;
}

.eventoNoticia {
    visibility: hidden;
}

article {
    text-align: center;
}

table {
    width: 20%;
    margin-left: 40%;
    margin-top: 3%;
    font-size: 1.1em;
    text-align: center;
}

td {
    padding: 3%;
}

/*Citas*/

.containerFormulario{
    background-color: #253243;
    padding-bottom: 10%;
}

.containerFormularioFirst {
    background-color: #253243;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    color: #fff;
    padding: 0.8em 1em;
}

.containerFormularioMiddle {
    background-color: #253243;
    color: #fff;
    padding: 0.8em 1em;
}

.containerFormularioLast {
    background-color: #253243;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    color: #fff;
    padding: 0.8em 1em;
}
.serviciosForm{
    text-align: center;
    width: 80%;
    height: 50%;
}
.subtitu{
    width: 100%;
    text-align: center;
    color: #fff;
}
.subtitu2{
    width: 60%;
    margin-left: 20%;
    text-align: center;
    color: #fff;
}
