@import url('https://fonts.googleapis.com/css2?family=Alice&family=Montserrat:wght@100&display=swap');

nav{
    background-color: #253243;
    color: white;
}

#Inicio{
   margin-right: 0.3em;
    
}

#Inicio:hover{
   background-color: #c98f40;
   opacity: 80%;
}

#Registro:hover{
    background-color: #c98f40;
    opacity: 80%;
 }

.titulo{
    font-family: 'Alice', serif;
    width: 100%;
}

.subtitulo{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    color: #c98f40;
}

li a:hover{
    opacity: 80%;
}

ul{
    font-size:  1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




