h2, .centrar{
    text-align: center;
    font-weight: bold;
}


.servicio{
    margin-left: 27%;
}

.trabajadores{
    margin-top: 1.5%;
    text-align: center;
    margin-bottom: 1.5%;
}

.hr100{
    max-width: 100%;
    margin-left: 0%;
}

.hr80{
    max-width: 68%;
    margin-left: 16%;
}

.hr50{
    max-width: 48%;
    margin-left: 26%;
}

.slide1, .slide2, .slide3{
    width: 60%;
    margin-left: 20%;
}

.botonI{
    margin-left: 20%;
}

.botonD{
    margin-right: 20%;
}

a{
    text-decoration: none;
    color: red;
}
.servicioImg{
    width: 20em;
    max-height: 20em;
    max-width: 20em;
}

#reservar{
    padding: 6%;
    border: 0.1em solid black;
    border-radius: 45%;
}

#reservar:hover{

    border: 0.1em solid #c98f40;
    border-radius: 45%;
}