.contenedor{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	position: relative;
}

.txt-titulo{
	position: absolute;
    right: 110px;
    top: 15px;
    font-size: 13px;
    color: #605f5f;
    font-weight: 600;
}
.producto{
	max-width: 280px;
	vertical-align: top;
	background: #fff;
	padding: 10px 0 20px 0;
	margin-right: 20px;
	border-radius: 10px;
    text-align: center;
}
.producto .contenedor-imagen{
	min-height: 220px;
	position: relative;
}
.producto .contenedor-imagen img{
	width: 100%;
}
.producto .contenedor-imagen .link{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100%;
	height: 100%;
}
.producto .contenedor-imagen .img-hover{
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	transition: all ease-in-out 0.2s;
}
.producto:hover .img-hover{
	opacity: 1;
}

.img-nohover{
    opacity: 80%;
}

.producto .datos{
	border-top: 2px solid #e2e2e2;
	border-bottom: 2px solid #e2e2e2;
	padding: 20px;
}
.producto .datos h3{
	margin: 10px 0;
}

.producto .datos small{
	font-size: 12px;
    text-transform: uppercase;
    color: #5a5a5a;
}
.producto .precios{
	padding: 20px;
	display: flex
}
.producto .precios div{
  flex-grow: 1;
}
.producto .precios div small{
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #5a5a5a;
}
.producto .btn-carrito{
	display: block;
    text-align: center;
    padding: 15px;
    background: #c98f40;
    width: 80%;
    margin: 0 auto;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    display: none;
    transition: all ease-in-out 0.3s;
}
.producto .btn-carrito:hover{
	transform: scale(1.05);
}
.producto:hover .btn-carrito{
	display: block;
}
.starrr {
 	display: block; 
}

.slider{
	margin-top: 20px;
}
.slick-prev{
	font-size: 0;
    position: absolute;
    right: 55px;
    top: -64px;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    background-image: url(https://dummyimage.com/20x20/ffffff/474747&text=%3C);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    cursor: pointer;
}
.slick-next{
	font-size: 0;
    position: absolute;
    right: 18px;
    top: -64px;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    border-radius: 6px;
    background: url(https://dummyimage.com/20x20/ffffff/474747&text=%3E);
	background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    cursor: pointer;
}
.slick-next:hover, .slick-prev:hover{
	opacity: 0.8;
}

@media screen and (max-width: 650px){
	.txt-titulo{
		display: none;
	}
	.titulo .shape h2{
		font-size: 20px;
	}
}
@media screen and (max-width: 600px){
	.slick-next, .slick-prev{
		display: none !important;
	}
	.titulo .shape{
		padding: 10px 10px;
    	max-width: 160px;
    }
  .producto{
    max-width: 100%;
  }
}

.carritoTexto{
    margin-left: 8%;
}

.botonMenuCarrito{
    border-radius: 25%;
    background-color: #253243;
    color: #fff;
}
