
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}
  
ul.slider li img{
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;
}
 
ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}
  
ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}
  
.enlaces{
    text-align: center;
    margin-top: 1%;
    margin-left: 34%;
}
  
.enlaces li{
    display: inline-block;
    text-align: center;
}
  
.enlaces li .cambiaFoto{
    margin-left: -1350%;
    margin-top: 10em;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #c98f40;
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}